# Logs
logs
*.log
*.log.mbtree
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
pnpm-lock.yaml

# Editor directories and files
.vscode
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

__pycache__
.ipynb_checkpoints
gradio_cached_examples
*.pt
*.mp4
*.tar.gz
pcb-defect-dataset
pcb_dataset
pcb_model
models
dataset
